/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

body {
  background-image: url('../public/thin_curtains.jpg');
  background-size: 100%;
}

.nav-gradient {
  background: rgb(124,45,18);
  background: linear-gradient(180deg, rgb(124,45,18) 0%, rgb(162,20,5) 80%, rgba(124,45,18,0) 100%);
}

.neon-green * {
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  animation: pulsate-green 0.11s ease-in-out infinite alternate;
}

@keyframes pulsate-green {
  100% {
      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }

  0% {
    text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px #0fa,
    0 0 73px #0fa,
    0 0 80px #0fa,
    0 0 94px #0fa,
    0 0 140px #0fa;
  }
}

.neon-yellow a {
  color: #eee;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(255, 238, 0),
    0 0 82px rgb(255, 238, 0),
    0 0 92px rgb(255, 238, 0),
    0 0 102px rgb(255, 238, 0),
    0 0 151px rgb(255, 238, 0);
  animation: pulsate-yellow 0.11s ease-in-out infinite alternate;
}

@keyframes pulsate-yellow {
  100% {
      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(255, 238, 0),
      0 0 80px rgb(255, 238, 0),
      0 0 90px rgb(255, 238, 0),
      0 0 100px rgb(255, 238, 0),
      0 0 150px rgb(255, 238, 0);
  }

  0% {
    text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px rgb(255, 238, 0),
    0 0 73px rgb(255, 238, 0),
    0 0 80px rgb(255, 238, 0),
    0 0 94px rgb(255, 238, 0),
    0 0 140px rgb(255, 238, 0);
  }
}
